a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background-color: #012f53;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navitem {
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans", "monospace", sans-serif;
    padding: 30px;
    display: block;
    text-align: center;
    font-size: 15px;
}

.navitem:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    color: #012f53;
}

.activeNavItem {
    margin: 10px;
    color: #012f53;
    background-color: white;
    border-radius: 40px;
}

#wrapper {
    margin-left: 10%;
    padding: 0px 10px;
}

.button {
    height: 4%;
    background-color: #0f3b0f;
    color: white;
}

.button:hover {
    background-color: white;
    border: 1px solid #0f3b0f;
    color: #0f3b0f;
}

.my-card-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.my-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    min-width: 0px;
    border: 1px solid rgba(0,0,0,.125);
}

.my-card-image {
    height: 10rem;
    width: 100%;
    background-color: grey;
    display: block;
}

.my-card-body {
    padding: 1.25rem;
    background-color: white;
    flex: 1 1 auto;
    font-size: 15px
}

.my-card-footer {
    background-color: lightgrey;
}


.banner {
    width: inherit;
    height: 45%;
    overflow: hidden;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
}

.banner > img {
    width: 100%;
}

.profile {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    position: absolute;
    background-color: white;
    left: 45%;
    top: 30%;
    z-index: 3;
}

.profileNavBar {
    width: inherit;
    display: flex;
    justify-content: center;
    background-color: #0f3b0f;
    color: white;
    font-family: "Lucida Sans", "monospace", sans-serif;
    font-size: 15px;
    height: 5%;
    padding-top: 5px;
}

.profileNavItem {
    width: 20%;
    text-align: center;
    height: 100%;
    align-items: center;
}

.profileNavItem:hover {
    color: #0f3b0f;
    background-color: white;
    padding-top: 5px;
}

.button {
    height: 4%;
    background-color: #0f3b0f;
    color: white;
}

.button:hover {
    background-color: white;
    border: 1px solid #0f3b0f;
    color: #0f3b0f;
}

#profileNav {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid black;
}

#profileNavContainer {
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}

#profileNavContainer:hover {
    cursor: pointer;
}

.listHeader{
    width: 100%;
    height: 10vh;
    background-color: #0f3b0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.listHeader > h3 {
    font-family: "Lucida Sans", "monospace", sans-serif;
    margin-left: 10px;
}